<div class="container-fluid" >
  
    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha</th>
            
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="Compra in comprasCtrl.compras">
            <th > <a ui-sref="CargaCompra({id: Compra.idcompra})"  style="color: blue !important"> {{Compra.idcompra}} </a></th>
            <td class="color-negro">{{Compra.descripcion}}</td>
            <td class="color-negro">{{Compra.fecha_hora}}</td>
            
          </tr>

        </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-lg" ng-click="comprasCtrl.insertarCompra()">Nueva Compra</button>

</div>